@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HotelTamagotchi</h1>
    <p class="lead"></p>
</div>

<div class="row">
        <div class="col-md-4">
            <h2>Tamagotchi</h2>
            <p>
                Create, update, edit and delete Tamagotchi!<br />
                Whilst editing a Tamagotchi you can also assign it to a room and start the night.
            </p>
            <div class="btn btn-default">@Html.ActionLink("Manage Tamagotchi", "Index", "Tamagotchi")</div>
        </div>
        <div class="col-md-4">
            <h2>Bookings</h2>
            <p>Book a room for your Tamagotchi!</p>
            <div class="btn btn-default">@Html.ActionLink("Book a Hotelroom", "Index", "Booking")</div>
        </div>
        <div class="col-md-4">
           <h2>Hotelrooms</h2>
           <p>Create, update, edit and delete Hotelrooms!</p>
           <div class="btn btn-default">@Html.ActionLink("Manage Hotelrooms", "Index", "Hotelroom")</div>
        </div>
        
</div>