@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HotelTamagotchi</h1>
    <p class="lead">Programmeren 6 assessment by Bram-Boris Meerlo and Peter-Jan Gootzen</p>
</div>

<div class="row">
        <div class="col-md-6">
            <h2>Tamagotchi</h2>
            <p>
                Create, update, edit and delete Tamagotchi!<br />
                Whilst editing a Tamagotchi you can also assign it to a room and start the night.
            </p>
            <div class="btn btn-default">@Html.ActionLink("Manage Tamagotchi", "Index", "TamagotchiController")</div>
        </div>
        <div class="col-md-6">
           <h2>Hotelrooms</h2>
           <p>Create, update, edit and delete Hotelrooms!</p>
           <div class="btn btn-default">@Html.ActionLink("Manage Hotelrooms", "Index", "HotelroomController")</div>
        </div>
</div>