@model IEnumerable<HotelTamagotchi.Web.ViewModels.HotelRoomViewModel>
@{
    ViewBag.Title = "Booking";
}

<h2>Booking</h2>
<table class="table">
    <tr>
        <th>
            Hotel room
        </th>
        
        <th>
            Size of the room  
        </th>
        <th>
            Type of the room
        </th>
        <th>
            Book
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @((int)item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @if (!item.IsBooked)
                {
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Booking", new { id = item.Id })'">Book now!</button>
                }
            </td>
        </tr>
    }
    </table>

